body 
{
    background-color: 505050;
    margin-left: 10%;
    margin-right: 10%;
}

.top, .bottom, .right, .center, .left
{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(5, 5, 5);
    background-color: 909090;
}

.leftimage
{
        display:block;
        width:50%;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
}
.oeil
{
        display:block;
        width:50%;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
        border: 4px solid red;
        border-radius: 3px;
}

.center
{
    margin-left: 0%;
    margin-top: 0%;
    height: 345px;
    width:  1200px;
}

.top
{
    height: auto;
}

.left
{
    padding-top: 10px;
    margin-left: 27px;
    text-align: center;
    width: 125px;
    height: 390px;
}

.dayofthe42
{
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 85px;
    width: 350px;
}

.loupe
{
    position: relative;
    padding-top: 1.4%;
    padding-left: 33%;
    height: 100px;
    width: 200px;
}
.reload
{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    height: 17px;
    width: 17px;
}
.close
{

    float: right;
    margin-top: 90px;
    margin-left: 100px;
    height: 17px;
    width: 17px;
}