body 
{
    background-color: 505050;
    margin-left: 10%;
    margin-right: 10%;
}

.top, .right, .center, .left
{
    border-radius: 1vw;
    box-shadow: 0.7vw 0.7vw 0.7vw rgb(5, 5, 5);
    background-color: 909090;
}

.top
{
    margin-top: 1vw;
    height: 8vw;
}

#loupe
{
    width:20%;
    margin-top: 0.5%;
    float:right;
}

.reload
{
    float: right;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-left: -1.5%;
    width: 1.5%;
}
.close
{
    float: right;
    margin-top: 8%;
    width: 1.5%;
}

.dayofthe42
{
    float: left;
	width: 30%;
    margin-top: 1%;
	margin-left: 1%;
}

.left
{
    margin-left: 3%;
    float: left;
    text-align: center;
    width: 10%;
    padding-bottom: 3%;
}

.leftimage
{
        display:block;
        width:50%;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
}

.oeil
{
        display:block;
        width:50%;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
        border: 4px solid red;
        border-radius: 3px;
}

.center
{
    position: absolute;
    width: 56.5%;
    display: inline-block;
    margin-left: 1.75%;
}

#cluster
{
    position: relative;
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.right
{
    position: absolute;
    margin-left: 60%;
    margin-right: 3%;
    display: inline-block;
    width: 8%;
    padding-bottom: 3%;
}

.rightimage
{
        display:block;
        width:50%;
        margin-top: 10%;
        margin-left:auto;
        margin-right:auto;
}

.brick
{
    display: block;
    background-image: url("resources/brick.jpg");
    background-size: 100%;
    height:100%;
    width:100%;
}

.bottom
{
    border-radius: 1vw;
    box-shadow: 0.7vw 0.7vw 0.7vw rgb(5, 5, 5);
    background-color: #88ff89;
    position: relative;
    margin-top:35%;
    margin-left:0%;
    height:24%;
    width:36%;
}